@page "/Create/{ReferenceId:int}"

@inject IDataFactory dataFactory
@inject NavigationManager navManager

@using Models;

@if(ReferenceId == 0)
{
    <h1>Create New Employee</h1>
} else if (ReferenceId == 1)
{
    <h1>Create New Department</h1>
}

@code {
    //Employee = 0 Department = 1
    [Parameter]
    public int ReferenceId { get; set; }

    private NewEmployeeModel newEmployee = new NewEmployeeModel();
    private NewDepartmentModel newDepartment = new NewDepartmentModel();

    private List<TitleModel> Titles;
    private List<EmployeeModel> AvailableSupervisors;

    //new employee fields
    private string firstName;
    private string lastName;
    private string phoneMain;
    private string phoneMobile;
    private string extension;
    private string notes;
    private int titleId;
    private int departmentId;
    private int supervisorId;
    private string email;

    //new department fields
    private string departmentName;

    protected override async Task OnInitializedAsync()
    {
        Titles = dataFactory.Titles;
    }
}
