<head>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<AuthorizeView>
    <Authorized>
        <button class="button" id="button-logout" onclick="location.href='MicrosoftIdentity/Account/SignOut'">Logout</button>
        <button class="button" id="button-admin" onclick="location.href='/Admin'">Admin Portal</button>
    </Authorized>
    <NotAuthorized>
        <button class="button" id="button-login" onclick="location.href='MicrosoftIdentity/Account/SignIn'">Admin Login</button>
    </NotAuthorized>
</AuthorizeView>

