@inherits LayoutComponentBase

<PageTitle>PhoneDirectory</PageTitle>
<head>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<div class="page">

    <main>
        <div class="layout-header-grid">
            <div class="layout-header">
                <Login />
            </div>
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
