@page "/Create/Department"
@attribute [Authorize]

@inject IDataFactory dataFactory
@inject NavigationManager navManager

@using Models

<head>
    <PageTitle>Create Department</PageTitle>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body>
    <div class="department-create-grid-container">
        <div class="department-create-heading">
            <h3 class="page-heading">Create Department</h3>
            <button class="button" id="open-directory-button" @onclick="(() => OpenDirectory())">Go To Directory</button>
        </div>
    </div>

    <div class="department-create-form-container">
        <AuthorizeView Context="Auth">
            <Authorized>
                <EditForm Model="newDepartment">
                    <DataAnnotationsValidator />
                    <ValidationSummary />
                        <div class="department-form-item">
                            <label class="department-form-label" for="department-name">Department Name</label>
                            <InputText class="input-box" id="department-name" @bind-Value="newDepartment.Name"/>
                        </div>
                        <div>
                            <button class="button" id="create-form-button" @onclick="SaveNewDepartment">@submitButtonText</button>
                        </div>
                </EditForm>
            </Authorized>
        </AuthorizeView>
    </div>
</body>


